$color-primary: #ce00ce;
$color-accent:  #00e8c7;
$color-text:    #444444;
$color-alert:   #ef3939;
$color-inactive:#c2f3ec;

// $font: "Courier New", Courier, monospace;
$font: 'Montserrat', sans-serif;

$app-margin: 16px;
